<h1>Confirmation of purchase in cart: {{cid}}</h1>

<h2>Available Products</h2>
<ul>
  {{#each products}}
  <li>
    Id: <p class="product-id">{{this._id}}</p>
  </li>
  <li>
    Product: {{this.title}}
  </li>
  <li>
    Quantity: {{this.quantity}}
  </li>
  <li>
    Price: {{this.price}}
  </li>
</ul>
  {{/each}}


<h2>Total</h2>
<p id="totalAmount">Total: {{total}}</p>
<button id="confirm">Confirmar Pago</button>
<button id="cancel">Cancelar</button>

<h2>Missing Products</h2>
<ul>
  {{#each missingProducts}}
  <li>
    Product: {{this.title}}
  </li>
  <li>
    Missing Quantity: {{this.quantity}}
  </li>
</ul>
  {{/each}}

   <script src="/js/checkout.js"></script>
