<div class="container">
        <h1>Perfil de usuario</h1>
        <div class="user-profile">
            <h2>Información del usuario:</h2>
            <ul>
                <li>ID de Usuario: {{user._id}}</li>
                <li>Nombre: {{user.first_name}}</li>
                <li>Apellido: {{user.last_name}}</li>
                <li>Email: {{user.email}}</li>
                <li>Edad: {{user.age}}</li>
            </ul>
        </div>
    </div>